.circle_wrapper {
  z-index: 1;
  width: 448px;
  height: 448px;
  border: solid 1px color(from var(--foreground) srgb r g b / 0.1);
  border-radius: 100%;

  .circle {
    fill: none;
  }

  .dots_wrapper {
    .dot {
      display: grid;
      grid-template-columns: 56px auto;
      grid-template-rows: 56px;
      justify-items: center;
      align-items: center;
      width: fit-content;
      height: fit-content;

      font-size: 20px;

      &_value {
        aspect-ratio: 1 / 1;
        width: 6px;
        color: var(--text);
        background-color: var(--foreground);
        border: 1px solid var(--foreground);
        border-radius: 100%;
        overflow: hidden;
        transition-duration: 0.3s;
        transition-property: width, background-color, border-color;
        transform-origin: center;
        display: flex;
        align-items: center;
        justify-content: center;
        user-select: none;
      }

      &_title {
        font-weight: bold;

        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: calc(100% + 20px);

        visibility: hidden;
        opacity: 0;
        transition: 0.2s opacity;
      }

      &[data-active="true"] {
        .dot_title {
          visibility: visible;
          opacity: 1;
        }
      }

      &[data-active="true"], &:hover {
        .dot_value {
          width: 56px;
          background-color: var(--background);
          border-color: color(from var(--foreground) srgb r g b / 0.5);
        }
      }
    }
  }
}