@import "fonts";

:root {
  --background: #F4F5F9;
  --foreground: #42567A;
  --accent: #5D5FEF;
  --secondary: #EF5DA8;

  --white: #FFFFFF;
  --black: #000000;
  --blue: #3877EE;

  --text: var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text);
  background-color: var(--background);
}

.container {
  min-height: 100vh;
  max-width: 1440px;
  margin-inline: auto;
  padding-top: 56px;
  position: relative;

  > *:not(:first-child) {
    margin-top: 56px;
  }

  @media (min-width: 1440px) {
    padding-top: 80px;
    border-inline: solid 1px color(from var(--foreground) srgb r g b / 0.1);

    &::after {
      content: "";
      display: block;
      width: 1px;
      background-color: color(from var(--foreground) srgb r g b / 0.1);
      position: absolute;
      inset-block: 0;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

.carousel-button-next, .carousel-button-prev {
  display: none;
  border: none;
  border-radius: 100%;
  font-size: 24px;
  color: var(--blue);
  background-color: var(--white);
  box-shadow: 0 0 16px 0 color(from var(--blue) srgb r g b / 0.1);
  width: 40px;
  height: 40px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 0 0 40px;
  transition: 0.2s opacity ease-out;

  &.carousel-button-disabled {
    transition-duration: 0.1s;
    opacity: 0;
  }

  @media (min-width: 1440px) {
    display: flex;
  }
}

.swiper-slide {
  @media (max-width: 1439px) {
    > * {
      margin-left: 24px;
      opacity: 0.4;
      transition: 0.2s ease-out;
      transition-property: opacity, margin-left;
    }

    &:last-child {
      padding-right: 24px;
    }

    &-active {
      > * {
        opacity: 1;
      }
    }
  }
}