@import "fonts";

:root {
  --background: #F4F5F9;
  --foreground: #42567A;
  --accent: #5D5FEF;
  --secondary: #EF5DA8;

  --white: #FFFFFF;
  --black: #000000;
  --blue: #3877EE;

  --text: var(--foreground);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  font-family: 'PT Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  color: var(--text);
  background-color: var(--background);
}

.container {
  min-height: 100vh;
  max-width: 90rem;
  margin-inline: auto;
  border-inline: solid 1px color(from var(--foreground) srgb r g b / 0.1);
  padding-top: 5rem;
  position: relative;

  >*:not(:first-child) {
    margin-top: 3.5rem;
  }

  &::after {
    content: "";
    display: block;
    width: 1px;
    background-color: color(from var(--foreground) srgb r g b / 0.1);
    position: absolute;
    inset-block: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}

.carousel-button-next, .carousel-button-prev {
  border: none;
  border-radius: 100%;
  font-size: 24px;
  color: var(--blue);
  background-color: var(--white);
  box-shadow: 0 0 1rem 0 color(from var(--blue) srgb r g b / 0.1);
  width: 2.5rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex: 0 0 40px;
  transition: 0.2s opacity ease-out;

  &.carousel-button-disabled {
    opacity: 0;
  }
}