.wrapper {
  width: fit-content;
}

.title {
  font-family: 'Bebas Neue', serif;
  font-size: 25px;
  line-height: 1.2;
  color: var(--blue);

  margin-bottom: 15px;
}

.text {
  font-size: 20px;
  line-height: 1.45;
}

@media (max-width: 1439px) {
  .title {
    font-size: 16px;
  }

  .text {
    font-size: 14px;
  }
}