.wrapper {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;

  > * {
    grid-area: 1 / 1;
    z-index: 0;
  }

  .dates {
    z-index: 1;
    font-size: 10rem;
    font-weight: bold;

    display: inline-flex;
    gap: 5rem;
    user-select: none;

    > *:first-child {
      color: var(--accent);
    }

    > *:last-child {
      color: var(--secondary);
    }
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    inset-inline: 0;
    top: 50%;
    transform: translateY(-50%);
    height: 1px;
    background-color: color(from var(--foreground) srgb r g b / 0.1);
  }
}