.wrapper {
  position: relative;
  display: grid;
  align-items: center;
  justify-items: center;

  > * {
    grid-area: 1 / 1;
    z-index: 0;
  }

  .dates {
    z-index: 1;
    font-size: 56px;
    font-weight: bold;

    transition: font-size 0.3s;

    display: inline-flex;
    gap: 40px;
    user-select: none;

    > *:first-child {
      color: var(--accent);
    }

    > *:last-child {
      color: var(--secondary);
    }

    @media (min-width: 1440px) {
      font-size: 160px;
      gap: 80px;
    }

  }

  .wheel {
    z-index: 1;
    @media (max-width: 1439px) {
      display: none;
    }
  }

  @media (min-width: 1440px) {
    &::before {
      content: '';
      display: block;
      position: absolute;
      inset-inline: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 1px;
      background-color: color(from var(--foreground) srgb r g b / 0.1);
    }
  }
}