.wrapper {
  margin-left: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1.25rem;

  .info {
    font-size: 14px;
  }

  .buttons {
    display: flex;
    gap: 1.25rem;
    align-items: center;


    .button {
      cursor: pointer;
      width: 3rem;
      height: 3rem;
      border-radius: 100%;
      background-color: var(--background);
      border: 1px solid var(--foreground);
      display: flex;
      align-items: center;
      justify-content: center;

      transition: opacity 0.2s;

      &[disabled] {
        cursor: default;
        opacity: 50%;
      }
    }
  }
}