.wrapper {
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  .info {
    font-size: 14px;
  }

  .buttons {
    display: flex;
    gap: 20px;
    align-items: center;

    .button {
      cursor: pointer;
      width: 48px;
      height: 48px;
      border-radius: 100%;
      background-color: var(--background);
      border: 1px solid var(--foreground);
      display: flex;
      align-items: center;
      justify-content: center;

      transition: opacity 0.2s;

      &[disabled] {
        cursor: default;
        opacity: 50%;
      }

      @media (max-width: 1439px) {
        width: 26px;
        height: 26px;

        svg {
          width: 6px;
          height: 6px;

          > * {
            stroke-width: 3;
          }
        }
      }
    }

    @media (max-width: 1439px) {
        gap: 8px;
    }
  }

  @media (max-width: 1439px) {
    gap: 10px;
    margin-left: 20px;
  }
}