.wrapper {
  .title {
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    width: min-content;
    position: relative;
    margin-left: 20px;

    @media (min-width: 1440px) {
      font-size: 56px;
      margin-left: 80px;
      margin-bottom: -160px;

      &::before {
        content: '';
        display: block;
        width: 5px;
        position: absolute;
        height: 100%;
        left: -80px;
        background: linear-gradient(to bottom, var(--accent) 0%, var(--secondary) 100%);
        margin-bottom: 16px;
      }
    }
  }

  .eventTitle {
    font-size: 16px;
    font-weight: bold;
    margin-inline: 20px;
    margin-bottom: 16px;
    padding-bottom: 16px;
    border-bottom: 1px solid color(from var(--foreground) srgb r g b / 0.2);

    @media (min-width: 1440px) {
      display: none;
    }
  }

  .switcher {
    margin-top: -40px;
    display: none;

    @media (min-width: 1440px) {
      display: block;
    }

    &_mobile {
      display: grid;
      align-items: center;
      grid-template-columns: 1fr auto 1fr;

      @media (min-width: 1440px) {
        display: none;
      }
    }

    &_dots {
      display: flex;
    }

    &_dot {
      width: 16px;
      height: 16px;
      border: 5px solid var(--background);
      border-radius: 100%;
      background-color: var(--foreground);
      opacity: 0.4;
      transition: opacity 0.2s;

      &[data-active="true"] {
        opacity: 1;
      }
    }
  }
}